<apex:page sidebar="false" standardController="Case" extensions="FileUploaderPricingApprovalData" showHeader="false">
   <apex:form >
      <apex:sectionHeader title="Upload data from CSV file"/>
      <apex:pagemessages />
      <apex:pageBlock >
             <!--  Component to allow user to upload file from local machine -->
             <center>
              <apex:inputFile value="{!contentFile}" filename="{!nameFile}" /> <apex:commandButton action="{!ReadFile}" value="Upload File" id="theButton" style="width:70px;"/>
              <br/> <br/> <font color="red"> <b>Note: Please use the standard template by exporting the current data. </b> </font>
             </center>       
      </apex:pageBlock>       
   </apex:form>   
</apex:page>