<apex:page standardController="csord__Subscription__c" extensions="MACDProgressBar" showHeader="true" sidebar="true">
    <style> 
        .progress{
            background-color: #3BB9FF;
            border:1px solid #3BB9FF;
            height: 21px;
            width: 350px;
            margin: -1px;
            text-align: center;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            line-height: 18px;
        }
        .progressComplete{
            background-color: #27AE60;
            border:1px solid #27AE60;
            height: 21px;
            width: 350px;
            margin: -1px;
            text-align: center;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            line-height: 18px;
        }
        .progressError{
            background-color: #FF2A2A;
            border:1px solid #FF2A2A;
            height: 25px;
            width: 650px;
            margin: -1px;
            text-align: center;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            line-height: 20px;
        }       
    </style>

    <apex:form id="generalform">
        <apex:pageMessages id="orderProcessing" />
                Please wait while your changes are processed. You will be redirected shortly...
        <apex:outputPanel id="progress">    
            <div class="{!IF(isFinished=='Completed','progressComplete',IF(isFinished=='Error','progressError','progress'))}">
                <apex:outputText id="batchStatusError" styleClass="batchStatusClass" value="The MACD Basket have not been created properly. Please submit a ticket to Globalserve to resolve the issue." style="color: #ffffff; font-weight:bold" rendered="{!If(isFinished=='Error',true,false)}"/>
                <apex:outputText id="batchStatus" styleClass="batchStatusClass" value="{!batchOrderStatus}" style="color: #ffffff; font-weight:bold" rendered="{!If(isFinished!='Error',true,false)}"/>
            </div>
        </apex:outputPanel>
        <apex:actionFunction name="refreshJobStatus" action="{!refreshJobStatus}" reRender="progress"/>
    </apex:form>  
    
    <script type="text/javascript">
        function refresh(){
            refreshJobStatus();
            setTimeout(refresh, 5000);
            var status = document.getElementsByClassName('batchStatusClass')[0].innerHTML;
            if(status == 'Completed'){
                setTimeout(refresh, 5000);
                location.replace("/"+'{!basketId}');
            }
        }
        refresh();
    </script>       
</apex:page>