<apex:page standardcontroller="Account">
<apex:form >   

<apex:pageMessage severity="error"  strength="3"  
  summary="Only Account Manager, TI_HR, Sales Manager and Sales Admin have access to generate Action Item for New Logo / Win Back Customer">
</apex:pageMessage>

<br/><br/>
 
  
</apex:form>
</apex:page>