<apex:page standardController="OpportunityLineItem" >
    <apex:form >
        <apex:pageBlock id="pb">
            <apex:pageBlockSection title="General" columns="2">
                <apex:inlineEditSupport >
                    <apex:outputField label="Cart Item Guid" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.CartItemGuid__c}"/>
                    <apex:outputField label="Contract Term" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.ContractTerm__c}"/>
                    <apex:outputField label="Order Type" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Order_Type__c}"/>
                   
                </apex:inlineEditSupport>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock id="pb1" rendered="{!IF(OR(OpportunityLineItem.Main_Root_Product_code__c =='OVS',OpportunityLineItem.Main_Root_Product_code__c =='VMS'), true, false)}" >
            <apex:pageBlockSection rendered="{!IF(OR(OpportunityLineItem.Main_Root_Product_code__c =='OVS',OpportunityLineItem.Main_Root_Product_code__c =='VMS'), true, false)}" title="Online Video Details" columns="2">
               <apex:inlineEditSupport >
               
                
                    <apex:outputField label="Market Offer Type" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Market_Offer_Type__c}"/>
                    <apex:outputField label="Solution Package Type" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Solution_Package_Type__c}"/>
                    <apex:outputField label="Number of Users" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Number_Of_Users__c}"/>
                    <apex:outputField label="Number of Sub-Accounts" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Number_of_Sub_Accounts__c}"/>
                    <apex:outputField label="Minimum Allowance for Video Streams per Year" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Minimum_Allowance_for_VideoStreams_pr_yr__c}"/>
                    <apex:outputField label="Minimum Allowance for Transcoding Minutes per Year" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Minimum_Allowance_for_Transcoding_per_Yr__c}"/>
                    <apex:outputField label="Level of Support" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Level_of_Support__c}"/>
                    <apex:outputField label="Elemental Support Term" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Elemental_Support_Term__c}"/>
                    <apex:outputField label="Standalone Offer Details" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Standalone_Offer_Details__c}"/>
                    <apex:outputField label="Value Added Services" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Value_Added_Services__c}"/>
                    <apex:outputField label="Ooyala Pulse Advertising Management" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Ooyala_Pulse_Advertising_Management__c}"/>
                    <apex:outputField label="Ooyala IQ Pro" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Ooyala_IQ_Pro__c}"/>
                    <apex:outputField label="Content Delivery Network" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Content_Delivery_Network__c}"/>
                    <apex:outputField label="Select Minimum Allowance for Content Delivery" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Minimum_Allowance_for_Content_Delivery__c}"/>
                    <apex:outputField label="Live Event Streaming" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Live_Event_Streaming__c}"/>
                    <apex:outputField label="Live Event Streaming - Add On" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Live_Event_Streaming_Add_On__c}"/>
                    <apex:outputField label="Encoding and Transcoding" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Encoding_and_Transcoding__c}"/>
                    <apex:outputField label="User Interface and Experience Design" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.User_Interface_and_Experience_Design__c}"/>
                    <apex:outputField label="Identity Management" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Identity_Management__c}"/>
                    <apex:outputField label="Subscription Billing Management" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Subscription_Billing_Management__c}"/>
                    <apex:outputField label="Customer Relationship Management" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Customer_Relationship_Management__c}"/>
                    <apex:outputField label="Professional Services Type" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Professional_Services_Type__c}"/>
                    <apex:outputField label="Professional Services Description" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Professional_Services_Description__c}"/>
                    <apex:outputField label="Technical Services Type" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Technical_Services_Type__c}"/>
                    <apex:outputField label="Technical Services Description" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Technical_Services_Description__c}"/>
                    <apex:outputField label="Customisation Development" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Customisation_Development__c}"/>
                    <apex:outputField label="Content creation, acquisition & partnerships" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Content_Creation_Partnerships__c}"/>
                    <apex:outputField label="Live/Special Events services" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Live_Special_Events_Services__c}"/>
                    <apex:outputField label="Managed Service Type" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Managed_Service_Type__c}"/>
                    <apex:outputField label="Managed Services Description" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Managed_Services_Description__c}"/>
                
           
            </apex:inlineEditSupport>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:pageBlock id="pb2" rendered="{!IF(AND(OR(OpportunityLineItem.Main_Root_Product_code__c =='IPL',OpportunityLineItem.Main_Root_Product_code__c =='EPL'), CONTAINS(OpportunityLineItem.Product_id2__c, 'STRM') ), true, false)}">
            <apex:pageBlockSection rendered="{!IF(AND(OR(OpportunityLineItem.Main_Root_Product_code__c =='IPL',OpportunityLineItem.Main_Root_Product_code__c =='EPL'), CONTAINS(OpportunityLineItem.Product_id2__c, 'STRM') ), true, false)}" title="Stream Details" columns="2">
               <apex:inlineEditSupport >
               
                
                    <apex:outputField label="RTD (msec)" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.RTD_msec__c}"/>
                                   
           
            </apex:inlineEditSupport>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock id="pb3" rendered="{!IF(AND(OR(OpportunityLineItem.Main_Root_Product_code__c =='IPL',OpportunityLineItem.Main_Root_Product_code__c =='EPL'), CONTAINS(OpportunityLineItem.Product_id2__c, 'LLOOP') ), true, false)}">
            <apex:pageBlockSection rendered="{!IF(AND(OR(OpportunityLineItem.Main_Root_Product_code__c =='IPL',OpportunityLineItem.Main_Root_Product_code__c =='EPL'), CONTAINS(OpportunityLineItem.Product_id2__c, 'LLOOP') ), true, false)}" title="Local Loop Details" columns="2">
               <apex:inlineEditSupport >
               
                
                    <apex:outputField label="Frame Delivery Ratio (%)" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Frame_Delivery_Ratio__c}"/>
                    <apex:outputField label="Frame Delay Variation (msec)" value="{!OpportunityLineItem.OpportunityLineItemExtId__r.Frame_Delay_Variation_msec__c}"/>
                                   
           
            </apex:inlineEditSupport>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>