<apex:page controller="BasketProductDefinitions" tabstyle="cscfga__Product_Basket__c">
 <apex:includeLightning />
<apex:form >
<apex:pageBlock >
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlockSection title="Multiline editor : Product Chooser">
<apex:outputText value="These types of products are in your basket. Which do you want to edit?"/>  
  <apex:selectList styleClass="center" value="{!selectListValue}" size="1">
  <apex:selectOptions value="{!items}"/>
  </apex:selectList>
  <apex:commandButton styleClass="center" action="{!save}" value="Edit" id="theButton"/>
</apex:pageBlockSection>  
</apex:pageBlock> 
</apex:form>

<style type="text/css">
.customPopup {
background-color: white;
border-style: solid;
border-width: 2px;
left: 20%;
padding: 10px;
position: absolute;
z-index: 9999;
width: 500px;
top: 20%;
}
</style>
</apex:page>