<apex:page standardController="case" extensions="reassigntopricingCtrl" action="{!reAssigntopriceMtd}">
    <script>
        function func()
        {
        alert('Case is already assigned to pricing');
        window.location.href='/{!Case.Id}'; 
        }
        function comm()
        {
        alert('Please provide the comments');
        window.location.href='/{!Case.Id}'; 
        }
        function assignedtoemail()
        {
        alert('Please select the Assigned To');
        window.location.href='/{!Case.Id}'; 
        }
    </script>
    <apex:outputText value="{!callfunc}" escape="false"></apex:outputText>
</apex:page>