<apex:page standardController="Order__c" extensions="TelstraServiceIDController" action="{!generateTelstraServiceIds}">
 <apex:messages />
    <apex:form >
        <br/><br/>
        <apex:commandButton action="/{!orderId}" value="Return To Order" />
    </apex:form>  
</apex:page>