<apex:page standardController="Case" showHeader="true" sidebar="true">
    <apex:iframe scrolling="true" height="800" src="{!$Setup.SysParam__c.ServiceNowURL__c}/{!Case.ServiceNowIncidentType__c}?sys_id={!Case.SNSysId__c}"/>
</apex:page>