<apex:page standardController="OpportunityLineItem" showHeader="true">
<apex:pageBlock >
    <!--<apex:outputField value="{!OpportunityLineItem.Quantity}"/>-->
    <strong>The Product cannot be edited in SFDC. Please edit the Quote in CPQ to alter this Opportunity Product</strong>
    
</apex:pageBlock>
  
</apex:page>