<apex:page showHeader="false" sidebar="false" tabStyle="Account" standardController="Account" extensions="ServiceTeamListController">
    <apex:pageBlock title="Service Team">
            <apex:pageMessages />
            <apex:pageBlockTable value="{!results}" var="SMAccTeam" width="100%" rendered="{!showTable}">
                <apex:column headerValue="Name" value="{!SMAccTeam.Name}" />
                <apex:column headerValue="Phone" value="{!SMAccTeam.BusinessPhone}"/>
                <apex:column headerValue="Email" value="{!SMAccTeam.Email}" />
                <apex:column headerValue="Team Role" value="{!SMAccTeam.ContactType}" />
            </apex:pageBlockTable>
            <apex:outputText value="No results found" rendered="{!NOT(showTable)}"/>
    </apex:pageBlock>
</apex:page>