<apex:page controller="ViewInventoryDetailsController" sidebar="false" showHeader="false">    

  <!--page messages-->
  <apex:pageMessages id="msg"></apex:pageMessages>  

  <!--status-->
  <apex:outputPanel >
        <apex:actionStatus id="stat">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                       height: 150%;opacity:0.65;width:100%;"> 
                    <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Please wait...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionStatus>
    </apex:outputPanel>

  <!--action function called on window load-->
  <apex:form >
    <apex:actionFunction name="pageAction" action="{!pageAction}" status="stat" reRender="pd,msg"/>
  </apex:form>
  <!--page block start-->
  <apex:pageBlock title="Service Details" id="pd"> 

    <!--View Service Section start-->
    <apex:pageBlockSection title="Service Details">
    <apex:pageBlockSectionItem >
        <apex:outputlabel value="In Service Date"/>
        <apex:outputText value="{!pathVO.InServices}"/>
      </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Primary Service ID"/>
       <apex:outputText value="{!pathVO.PrimaryServiceID}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Account Name"/>
        <apex:outputText value="{!pathVO.AccountName}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Operational Status"/>
        <apex:outputText value="{!pathVO.OperationsStatus}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Customer Order Reference"/>
        <apex:outputText value="{!pathVO.CustomerOrderRef}"/>
      </apex:pageBlockSectionItem>
    
      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Legacy Product Name"/>
        <apex:outputText value="{!pathVO.LegacyProductName}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Legacy Account"/>
        <apex:outputText value="{!pathVO.LegacyAccount}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Primary Service"/>
        <apex:outputText value="{!pathVO.PrimaryService}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Migration"/>
        <apex:outputText value="{!pathVO.Migration}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Short Service Reference"/>
        <apex:outputText value="{!pathVO.ShortServiceReference}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Product Code"/>
        <apex:outputText value="{!pathVO.ProductCode}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Remedy"/>
        <apex:outputText value="{!pathVO.Remedy}"/>
      </apex:pageBlockSectionItem>
     
      
    </apex:pageBlockSection>
    <!--View Service Section end-->    


    <!--Contract Details Section start-->
    <apex:pageBlockSection title="Contract Details">     
     
      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Contract Signed Date"/>
        <apex:outputText value="{!pathVO.ContractSignedDate}"/>
      </apex:pageBlockSectionItem>

      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Site Notes"/>
        <apex:outputText value="{!pathVO.SiteNotes}"/>
      </apex:pageBlockSectionItem>

    </apex:pageBlockSection>
    <!--Contract Details Section end-->


    <!--Termination Section start-->
    <apex:pageBlockSection title="Termination">
          
      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Termination Effective Date"/>
        <apex:outputText value="{!pathVO.TerminationEffectiveDate}"/>
      </apex:pageBlockSectionItem>
      
      <apex:pageBlockSectionItem >
        <apex:outputlabel value="Termination Reason"/>
        <apex:outputText value="{!pathVO.TerminationReason}"/>
      </apex:pageBlockSectionItem>

    </apex:pageBlockSection>
    <!--Terminationn Section end-->    


  </apex:pageBlock>
  <!--page block end-->

  <script type="text/javascript">
      function load() {
        pageAction();
      }
      window.onload=load;
  </script>

</apex:page>