<apex:page standardController="Action_Item__c" showHeader="false" sidebar="false" showChat="false">
       <apex:pageMessage summary="{!$Label.Maestro_Val_Warning_Msg}"
                      severity="warning"
                      strength="3"
                      rendered="{!Action_Item__c.Opportunity_Not_Validated__c}" />
</apex:page>